* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #F0F2F5;
}
.container {
    background-color: #3E3D45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.main-content {
    width: 100%;
}
.container h3 {
    margin-left: 2%;
    color: white;
}
.nav-center {
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
ul li {
    margin-right: 20px;
}
ul li a {
    color: white;
    text-decoration: none;
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-right button {
    margin-left: 20px;
    border-radius: 9px;
    padding: 6px;
    color: white;
    border: 1px solid;
    background-color: #E93B77;
}
.Dashboard {
    display: flex;
    width: 100%;
}
.sidebar {
    width: 250px;
    padding: 20px;
    display: flex;
    background-color: #3E3D45;
    flex-direction: column;
}
.index {
    margin-top: 0;
}
.index div {
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.index i {
    margin-right: 8px;
}
.content {
    flex-grow: 1;
}
.index h3 {
    color: white;
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}
.fa-chevron-down {
    color: white;
    font-size: small;
}
.search button{
    margin-left: 20px;
    border-radius: 9px;
    padding: 6px;
    color: white;
    border: 1px solid;
    background-color: #E93B77;
}
 .search button i {
    margin-left: 5px;
}
.location p {
    margin-left: 6%;
}
.search button {
    margin-right: 6%;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 2%;
}
.card {
    width: 250px;
    margin: 10px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
;
}
.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}
.card-content {
    padding: 8px;
}
.card h1 {
    font-size: 20px;
    color: #333;
    text-align: center;
}
.card p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    text-align: center;
}
.card hr {
    margin: 10px 0;
  
    border-top: 1px solid white;
}
.justify-between {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #666;
}